<style>
    table, th, td {
        border: 1px solid;
    }
</style>
<h2>
    <table>
        <tr>
            <td>
                nombre
            </td>
            <td>
                edad
            </td>
            <td>
                MayorEdad
            </td>
        </tr>
        <tr>
            <td>
                {{nombreEmpleado}}
            </td>
            <td>
                {{edad}}
            </td>
            <td>
                {{mayorEdad}}
            </td>
        </tr>
        <tr>
            <td>
                {{nombreEmpleado2}}
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
    </table>
</h2>